@font-face {
    font-family: Aleo;
    src: url(../fonts/Aleo-Regular.otf);
}
@font-face {
    font-family: WCManoNegraBta;
    src: url(../fonts/WCManoNegraBta.otf);
}
@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
           src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
           src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
                 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
                 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
                 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
                 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  }
p,
a,
h1,h2,h3,h4,h5,h6,
button {
    font-family: 'Aleo';
}
p,a,button {
    font-size: 14px;
}
img{
	vertical-align: bottom;
	max-width: 100%;
}
    body{
        margin: 0;
    }
    .wrapper {
        overflow: hidden;
        width: 100%;
    }
    .wrapper-fluid {
        width: 100%;
    }
    .brand-logo {
        display: inline-block;        
        margin-left:27px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #hamburger-button{
        position: relative;
        float: right;
        display: inline-block;
        cursor:pointer;
        margin-right: 15px;
        margin-top: 20px;
        z-index: 100;
    }
    .hamb-one,.hamb-two,.hamb-three{
        width: 28px;
        height: 2px;
        background-color: #555555;
        margin: 5px 0;
        transition: 0.4s;
        z-index: 100;
    }
    .rotate .hamb-one {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .rotate .hamb-two {opacity: 0;}
    
    .rotate .hamb-three {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    @-webkit-keyframes fadeIn {
        from { opacity: 0; }
          to { opacity: 1; }
    }
    @keyframes fadeIn {
        from { opacity: 0; }
          to { opacity: 1; }
    }
    .main-navigation {
        clear: both;
        list-style: none;
        display: none;
        margin-top: 0;
        padding: 80px 0 0 0;
    }
    .open{
        position:absolute;
        top: 0;
        display: block;
        z-index: 2;
        height: 100vh;
        background-color: rgba(243, 73, 73,0.9);
        text-align: center;
        width: 100%;
        padding-top: 80px;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 0.550s;
    }
    .open>li a {
        display: inline-block;
        text-decoration: none;
        color:#FFF;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        padding-top: 20px;
        padding-bottom:20px;
        font-size: 1.83em;
    }
    .open>li a:hover {
        border-top: 1px solid #363636;
        border-bottom: 1px solid #363636;
        color: #363636;
    }
    .slider-container {
        clear: both;
        position: relative;
        text-align: center;
        border-bottom: 4px solid #f34949;
    }
    .static {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        z-index: 1;
    }
    .static p:first-child{
        font-family: 'WCManoNegraBta';
        font-size: 2em;
    }
    .static p:nth-child(2n){
        position: relative;
    }
    .static p:nth-child(2n):after{
        position: absolute;
        content: "";
        height: 1px;
        background-color: #FFF;
        width: 15%;
        right: -15px;
        top: 50%;
    }
    .static p:nth-child(2n):before{
        position: absolute;
        content: "";
        height: 1px;
        background-color: #FFF;
        width: 15%;
        left:-15px;
        top: 50%;
    }
    .slider-item {
        min-height: 370px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .slider .slick-dots {
        bottom: 25px !important;
    }
    .slider .slick-dots li button:before {
        color:#FFF !important;
        opacity: 1;
    }
    .slick-dots li:hover button:before {
        color:#f34949 !important;
        transition: all 0.450s ease;
    }
    .slick-dots li.slick-active button:before{
        color: #f34949 !important;
        opacity: 1;
    }
    .slider.slick-dotted.slick-slider {
        margin-bottom: 0 !important;
    }
    .slick-next {
        right: 50px !important;
    }
    .slick-prev {
        left: 50px !important;
        z-index: 5;
    }
    .slick-prev:before,
    .slick-next:before{
        font-family: 'FontAwesome' !important;
        color: #FFF !important;
        opacity: 1 !important;
    }
    .slick-prev:hover:before,
    .slick-next:hover:before {
        color: #f34949!important;
        opacity: 1 !important;
        transition: all 0.450s ease;
    }
    .slick-prev:before{
        content: "\f104" !important;
        font-size: 50px !important;
    }
    .slick-next:before{
        content: "\f105" !important;
        font-size: 50px !important; 
    }
    .flag {
        width: 160px;
        height: 50px;
        padding-top: 15px;
        position: relative;
        background: #f34949;
        color: white;
        font-size: 16pt;
        letter-spacing: 0.2em;
        text-align: center;
        margin: 0 auto;
        font-weight: bold;
      }
      .flag:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 11px solid #FFF;
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
      }
    .menu {
        padding: 0 10px 0 10px;
        font-size: 0.8em;
        margin: 15px auto;
        color: #555;
        position: relative;
    }
    .menu-item {
      display: flex;
    }
    .name {
        flex: 1;
        display: flex;
        align-items: flex-end;
        margin: 0;
    }
    .name p,
    .price p {
        margin-bottom: 0;
        color:#555;
    }
    .name>p {
        max-width: 65%;
    }
    .name:after{
        content: '';
        height: 1px;
        background: #b7b7b7;
        flex: 1;
        margin: 0 40px;
        align-items: flex-end;
    }
    .price{
        display: flex;
        align-items: flex-end;
    }
    .description p {
        font-size: 0.7em;
        color: #b7b7b7;
    }
    .menu-button{
        text-align: center;
    }
    .menu-button span {
        padding-right: 1em;
    }
    .menu-button>button {
        display: inline-block;
        position: relative;
        padding: 0.7em 1em;
        width: 200px;
        background-color: #f34949;
        color: #FFF;
        outline: none;
        border: 1px solid transparent;
        transition-duration: 0.4s;
        overflow: hidden;
        
    }
   .menu-button>button:after{
        content: "";
        background: rgba(0, 0, 0, 0.5);
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -1em!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s;
   }
    .menu-button>button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
    }
    .modal-wrapper {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100vh;
        width: 100vw;
        z-index: 5;
    }
    .modal-box{
        padding: 25px;
        background-color: rgba(243, 73, 73,0.7);
        position: absolute;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
    .close {
        float: right;
        font-size: 3em;
        color: #FFF;
        cursor: pointer;
    }
    .close:hover{
        opacity: 0.7;
    }
    .modal-box>table{
        border-collapse: collapse;
    }
    .modal-box>table td {
        border-bottom: 1px solid #FFF;
    }
    .modal-box>table td,
    .modal-box>table th {
        padding: 10px 5px 10px 5px;
    }
    .modal-box>table {
        width: 100%;
        color:#FFF;
    }
    .modal-box>table th {
        text-align: center;
    }
    .modal-box>table td:first-child{
        text-align: left;
    }
    .modal-box>table td:nth-child(2n){
        text-align: right;
    }
    .dishes-header,
    .about-header,
    .gallery-header {
        margin-left: 10px;
        margin-top: 50px;
        position: relative;
    }
    .dishes-header h2:after,
    .about-header h2:after,
    .gallery-header h2:after{
        position: absolute;
        content: "";
        height: 1px;
        background-color: #b7b7b7;
        width: 20%;
        margin-left: 15px;
        top: 50%;
    }
    .dishes-header h2,
    .about-header h2,
    .gallery-header h2 {
        text-transform: uppercase;
        font-size: 0.9em;
    }
    .dishes-slider {
        margin-top: 30px;
        padding: 20px;
    }
    .dishes-slider img {
        max-width: 100%;
    }
    .dishes-item {
        overflow: hidden;
        padding: 10px;
    }
    .dishes-name {
        float:left;
    }
    .dishes-price {
        float: right;
    }
    .like {
        clear: both;
        padding-top: 2%;
    }
    .like i {
        cursor: pointer;
    }
    .like i span {
        display: inline-block;
        color: #000;
        font-weight: normal;
        margin-left: 5px;
    }
    .like .fas {
        color: #f34949;
    }
    .about-us {
        padding: 20px 10px 20px 10px;
    }
    .about-us p {
        color: #555;
    }
    .about-us tr td,
    .about-us tr th {
        display: block;
    }
    .about-us table {
        border-collapse: collapse;
    }
    .about-us table th {
        text-align: left;
        color: #555;
        font-size: 1.3em;
        font-weight: 100;
    }
    .about-us table td,
    .about-us table th {
        padding: 10px;
        vertical-align: top;
    }
    .about-us table tr:nth-child(2n)>td:first-child{
        border-bottom: 1px solid #8a8a8a;
    }
    .about-us table tr:nth-child(2n) {
        text-align: justify;
    }
    .about-us blockquote {
        text-align: center;
        font-size: 1.2em;
        position: relative;
        color: #6e6e6e;
    }
    .about-us blockquote:before {
        content: "\201C";
        font-size: 3em;
        position: absolute;
        top:-25px;
        left: -25px;
        color: #e0e0e0;
    }
    .about-us blockquote:after {
        content: "\201D";
        font-size: 3em;
        position: absolute;
        bottom:-45px;
        right: -25px;
        color: #e0e0e0;
            
    }
    .about-us ul li {
        color:#f34949;
    }
    .about-us ul li span {
        color:#555;
    }
    #gallery-wrapper {
        padding: 10px;
    }
    .gallery-item {
        height: 300px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .back-to-top {
        float: right;
        padding: 10px;
    }
    .back-button {
        background-color: #f34949;
        display: table-cell;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #FFF;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
    }
    .footer {
        clear: both;
        background-color: #3b3b3b;
        color:#FFF;
        text-align: center;
        padding: 10px;
        margin-top: 40px;
    }
    .footer ul,
    .footer ol {
        list-style: none;
        padding: 0;
    }
    .footer a {
        color: #FFF;
        text-decoration: none;
    }
      
@media screen and (min-width:768px) and (max-width:989px){
    .about-us tr td,
    .about-us tr th {
        display: table-cell;
    }
    #gallery-wrapper a:first-child .gallery-item {
        float: left;
        height: 400px;
        width: 40%;
    }
    #gallery-wrapper a .gallery-item {
        float: left;
        height: 200px;
        width: 30%;
    }
    .footer ul,
    .footer ol {
        display: inline-block;
        margin-right: 40px;
        text-align: left;
    }
    .footer ol:last-child{
        margin-right: 0;
    }
    
}
@media screen and (min-width:990px){
    .wrapper {
        width: 85%;
        margin: 0 auto;
    }
    .menu {
        overflow: hidden;
    }
    .menu-row {
        width: 45%;
    }
    .menu-row:nth-of-type(2n+1){
        float:left;
        clear: left;
    }
    .menu-row:nth-of-type(2n+0){
        float: right;
        clear: right;
    }
    .menu-button>button:hover{
        background-color: #FFF;
        border:1px solid #f34949;
        color: #f34949;
    }
    .about-us tr td,
    .about-us tr th {
        display: table-cell;
    }
    #gallery-wrapper a:first-child .gallery-item {
        float: left;
        height: 400px;
        width: 30%;
    }
    #gallery-wrapper a .gallery-item {
        float: left;
        height: 200px;
        width: 35%;
    }
    .footer ul,
    .footer ol {
        display: inline-block;
        margin-right: 40px;
        text-align: left;
    }
    .footer ol:last-child{
        margin-right: 0;
    }
}
@media screen and (min-width:1024px){
    #hamburger-button {
        display: none;
    }
    .navigation {
        overflow: hidden;
    }
    .main-navigation {
        display: block;
        padding: 0;
        margin: 0;
        float: right;
    }
    .main-navigation>li {
        float: left;
        line-height: 30px;
    }
    .main-navigation>li>a{
        display: inline-block;
        margin: 20px 20px;
        text-decoration: none;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        color: #555;
    }
    .main-navigation>li>a:hover {
        border-top: 1px solid #f34949;
        border-bottom: 1px solid #f34949;
        color: #f34949;
        transition: all 0.450s ease;
    }
    #gallery-wrapper a:first-child .gallery-item {
        float: left;
        height: 400px;
        width: 30%;
    }
    #gallery-wrapper a .gallery-item {
        float: left;
        height: 200px;
        width: 35%;
    }
    .gallery-item:hover:before{
        font-family: 'FontAwesome';
        content: "\f002";
        color: #FFF;
        font-size: 1.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .gallery-item:hover:after{
        content: "";
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .gallery-item:hover{
        transform: scale(1.05,1.05);
        transition: all 0.450s ease;
    }
    .footer ul,
    .footer ol {
        display: inline-block;
        margin-right: 100px;
    }
    .footer ol:last-child{
        margin-right: 0;
    }
}
@media screen and (min-width:1366px){
    .wrapper {
        width: 65%;
        margin: 0 auto;
    }
}